[Desktop Entry]
Name=kprotect
Exec=/home/khoi/Documents/kprotect/kprotect-ui/src-tauri/target/release/kprotect-ui
Icon=/home/khoi/Documents/kprotect/kprotect-ui/src-tauri/icons/icon.png
StartupWMClass=kprotect-ui
Type=Application
Categories=Security;System;
Comment=eBPF-based process lineage security
Terminal=false
